{% extends 'base.html.twig' %}

{% block title %}{{ 'new.comment'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create.new.comment'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'back'|trans }}back to list</a>
{% endblock %}
