{% extends 'base.html.twig' %}
{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    <div>
        <a  href="{{ path('wild_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}