{% extends 'base.html.twig' %}

{% block title %}{{ 'category.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5">{{ 'index.categories'|trans }}</h1>
            <div class="d-flex justify-content-end m-4">
                <button class="btn btn-warning mb-3">
                    <a class="text-dark text-decoration-none" href="{{ path('category_new') }}">{{ 'create.new.category'|trans }}</a>
                </button>
            </div>
        <ul class="list-group text-white" >
             {% for category in categories %}
                <li class="list-group">{{ category.id }} ➔ {{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
