{% extends 'base.html.twig' %}

{% block title %}{{ 'index.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'index.episodes'|trans }}</h1>
    <div class="d-flex justify-content-end m-4">
        <button class="btn btn-warning"><a class="text-dark text-decoration-none" href="{{ path('episode_new') }}">{{ 'create_new_episode'|trans }}</a></button>
    </div>
    <table class="table">
        <thead>
            <tr class="text-white">
                <th>Id</th>
                <th>{{ 'title.index.episode'|trans }}</th>
                <th>{{ 'num.index.episode'|trans }}</th>
                <th>{{ 'synop.index.episode'|trans }}</th>
                <th>{{ 'actions.index.episode'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr class="text-white">
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a class="text-info text-decoration-none" href="{{ path('episode_show', {'slug': episode.slug}) }}">{{ 'show'|trans }}</a>
                    <a class="text-info text-decoration-none" href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'not.index.episode'|trans }}Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
