{% extends 'base.html.twig' %}

{% block title %}{{ 'new.episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create.new.episode'|trans }}</h1>
    {{ include('episode/_form.html.twig') }}
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('episode_index') }}">{{ 'back'|trans }}</a>
        </button>
    </div>
{% endblock %}
