{% extends 'base.html.twig' %}

{% block title %}{{ 'index.program'|trans }}{% endblock %}

{% block body %}
    <h1 class="m-4">{{ 'index.programs'|trans }}</h1>
    <div class="d-flex justify-content-end m-4">
    <button class="btn btn-warning">
        <a class="text-decoration-none text-dark" href="{{ path('program_new') }}">{{ 'create.new.program'|trans }}</a>
    </button>
    </div>
    <table  class="table">
        <thead>
            <tr class=" text-white">
                <th scope="col">Id</th>
                <th scope="col">{{ 'title.index.program'|trans }}</th>
                <th scope="col">{{ 'summary.index.program'|trans }}</th>
                <th scope="col">{{ 'actors.index.program'|trans }}</th>
                <th scope="col">{{ 'poster.index.program'|trans }}</th>
                <th scope="col">{{ 'actions.index.program'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class=" text-white">
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td class="text-justify w-50">{{ program.summary }}</td>
                <td class="w-25">
                    {% for actor in program.actors %}
                    <li class="list-unstyled">
                        <a class="text-decoration-none text-white" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a>
                    </li>
                        {% else %}
                        <li class="text-white">{{ 'not.actor.index.program'|trans }}</li>
                    {% endfor %}
                </td>
                <td><img class="w-50" src="{{ program.poster }}" alt="poster"></td>
                <td>
                    <a class="text-decoration-none text-info" href="{{ path('program_show', {'slug': program.slug}) }}">{{ 'show.index.program'|trans }}</a>
                    <a class="text-decoration-none text-info" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'edit.index.program'|trans }}</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-white" colspan="5">{{ 'not.register.program'|trans }}Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
