{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1 class="m-4">L'index des programmes</h1>
    <div class="d-flex justify-content-end m-4">
    <button class="btn btn-warning">
        <a class="text-decoration-none text-dark" href="{{ path('program_new') }}">Créer un nouveau programme</a>
    </button>
    </div>
    <table  class="table">
        <thead>
            <tr class=" text-white">
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Résumé</th>
                <th scope="col">Acteurs</th>
                <th scope="col">Poster</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr class=" text-white">
                <td>{{ program.id }}</td>
                <td>{{ program.title }}</td>
                <td class="text-justify w-50">{{ program.summary }}</td>
                <td class="w-25">
                    {% for actor in program.actors %}
                    <li class="list-unstyled">
                        <a class="text-decoration-none text-white" href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a>
                    </li>
                        {% else %}
                        <li class="text-white">Oups! pas d'acteur pour cette série</li>
                    {% endfor %}
                </td>
                <td><img class="w-50" src="{{ program.poster }}" alt="poster"></td>
                <td>
                    <a class="text-decoration-none text-info" href="{{ path('program_show', {'slug': program.slug}) }}">Voir</a>
                    <a class="text-decoration-none text-info" href="{{ path('program_edit', {'slug': program.slug}) }}">Éditer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td class="text-white" colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
