{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Programmes</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Résumer</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
        </tbody>
    </table>
    <strong>Acteur :</strong>
    <ul>
        {% for actor in program.actors %}
            <li>{{ actor.name }} </li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
    <div>
        <button class="btn btn-warning"><a href="{{ path('program_index') }}">Retout à la liste</a></button>

        <button class="btn btn-danger"><a href="{{ path('program_edit', {'slug': program.slug}) }}">Éditer</a></button>
    </div>
    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
