{% extends 'base.html.twig' %}

{% block title %}{{ 'show.program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'program.show'|trans }}</h1>
    <table class="table">
        <tbody class="text-white">
            <tr>
                <th>Id</th>
                <td class="text-white">{{ program.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title.program'|trans }}</th>
                <td class="text-white">{{ program.title }}</td>
            </tr>
            <tr>
                <th>{{ 'summary.program'|trans }}</th>
                <td class="text-white">{{ program.summary }}</td>
            </tr>
            <tr>
                <th>{{ 'poster.program'|trans }}</th>
                <td>{{ program.poster }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-white">{{ 'actor.program'|trans }}:</p>
    <ul>
        {% for actor in program.actors %}
            <li class="text-white">{{ actor.name }} </li>
        {% else %}
            <li class="text-white">{{ 'not.actor.program'|trans }}</li>
        {% endfor %}
    </ul>
    <div class="d-flex align-self-end">
        <button class="btn btn-danger mr-3">
            <a class="text-decoration-none text-white" href="{{ path('program_edit', {'slug': program.slug}) }}">{{ 'edit.program'|trans }}</a>
        </button>
        {{ include('program/_delete_form.html.twig') }}
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('program_index') }}">{{ 'back.program'|trans }}</a>
        </button>
    </div>

{% endblock %}
