{% extends 'base.html.twig' %}
{% block title %}Category{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }} :</h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée
    {% endfor %}
    <button class="btn btn-warning"><a href="{{ path('wild_index') }}">
        Accueil
    </a></button>
{% endblock %}
