{% extends 'base.html.twig' %}

{% block title %}Programs{% endblock %}

{% block body %}
    <h1>Nos séries : </h1>
    <a href="{{ path('program_index') }}">Index</a>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} - <a class="text-decoration-none text-white" href="{{ path('wild_show', { 'slug': program.slug }) }}"> {{ program.title }}</a></h2>
            <h4>Catégorie : {{ program.category.name }}</h4>
            <p class="text-white text-justify">{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <div class="col-3 d-flex justify-content-center">
        <div class="form-group">
        {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
            </div>
            <div >
                {{ form_row(form.searchField) }}
            </div>
            <button class="btn btn-warning" type="submit" name="btnSearch">Recherche</button>
        {{ form_end(form) }}
        </div>
    </div>
    <div class="d-flex justify-content-end m-4">
        <button class="btn btn-warning">
            <a class="text-decoration-none link-button" href="{{ path('app_index') }}">
            Accueil
            </a>
        </button>
    </div>
{% endblock %}
