{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <div class="grayscale ">
        <img class="img-poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        </div>
        <div class="d-flex flex-column ml-4">
            <div class="mb-2">
                <h1 class="mb-3">{{ program.title }}</h1>
                <p class="text-justify text-white">{{ program.summary }}</p>
            </div>
            <div>
                <p class="font-weight-bold text-white">Catégorie :</p>
                <p class="text-white">{{ program.category.name }}</p>
            </div>
            <div>
                <p  class="font-weight-bold text-white">Saisons :</p>
                {% for season in seasons %}
                    <p><a class="text-decoration-none link-button ml-4 text-white" href="{{ path('wild_show_season', { 'id' : season.id }) }}">Saison {{ season.number }}</a></p>
                {% endfor %}
            </div>
            <div>
                <p  class="font-weight-bold text-white">Acteurs :</p>
                <ul class="list-group">
                    {% for actor in program.actors %}
                        <li class="list-group"><a class="text-decoration-none link-button ml-4 text-white" href="{{ path('actor_show', {'slug' : actor.slug}) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li class="text-white">Oups! pas d'acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <button class="btn btn-danger"><a class="text-decoration-none text-white" href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a></button>
    {% endif %}
    <div class="d-flex justify-content-end m-4">
        <button class="btn btn-warning">
            <a class="text-decoration-none link-button" href="{{ path('wild_index') }}">
            Accueil
            </a>
        </button>
    </div>
{% endblock %}