{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <img class="w-50 shadow-lg p-3 mb-5 bg-white rounded" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="d-flex flex-column ml-4">
            <div class="mb-2">
                <h1 class="mb-3">{{ program.title }}</h1>
                <p class="text-justify">{{ program.summary }}</p>
            </div>
            <div>
                <strong>Catégorie:</strong>
                <p>{{ program.category.name }}</p>
            </div>
            <div>
                <strong>Saisons:</strong>
                {% for season in seasons %}
                    <p><a class="text-decoration-none link-button ml-4" href="{{ path('wild_show_season', { 'id' : season.id }) }}">Saison {{ season.number }}</a></p>
                {% endfor %}
            </div>
            <div>
                <strong>Acteurs:</strong>
                <ul class="list-group">
                    {% for actor in program.actors %}
                        <li class="list-group"><a class="text-decoration-none link-button ml-4" href="{{ path('actor_show', {'slug' : actor.slug}) }}">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Oups! pas d'acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end m-4">
        <button class="btn btn-warning">
            <a class="text-decoration-none link-button" href="{{ path('wild_index') }}">
            Accueil
            </a>
        </button>
    </div>
{% endblock %}