{% extends 'base.html.twig' %}

{% block title %}{{ 'new.actor'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create.new.actor'|trans }}</h1>
    {{ include('actor/_form.html.twig') }}
    <div class="d-flex justify-content-center mt-5">
        <button class="text-dark btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('actor_index') }}">{{ 'back'|trans }}</a>
        </button>
    </div>
{% endblock %}
