{% extends 'base.html.twig' %}

{% block title %}{{ 'Actor.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'actors.title'|trans }}</h1>
    <table class="table text-white">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name.actor'|trans }}</th>
                <td>{{ actor.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ actor.slug }}</td>
            </tr>
        </tbody>
    </table>
    <div  class="d-flex align-self-start">
        <p>{{ 'sentence.actor'|trans }} :</p>
        <ul>
        {% for program in programs %}
            <li class="text-white list-unstyled">
                <a class="text-decoration-none text-white" href="{{ path('wild_show', { 'slug': program.title }) }}">{{ program.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="d-flex align-self-end">
        <button class="btn btn-danger mr-4">
            <a class="text-white text-decoration-none" href="{{ path('actor_edit', {'slug': actor.slug}) }}">{{ 'edit'|trans }}</a>
        </button>
        {{ include('actor/_delete_form.html.twig') }}
    </div>
    <div class="d-flex justify-content-center mt-5">
        <button class="text-dark btn btn-warning">
            <a class="text-dark text-decoration-none" href="{{ path('actor_index') }}">{{ 'back'|trans }}</a>
        </button>
    </div>
{% endblock %}
