<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand text-white" href="{{ path('app_index') }}">Wild Séries</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{{ path('wild_index') }}">Séries<span class="sr-only">(current)</span></a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('category_index') }}">Catégories</a>
                                <a class="dropdown-item" href="{{ path('program_index') }}">Séries</a>
                                <a class="dropdown-item" href="{{ path('season_index') }}">Saisons</a>
                                <a class="dropdown-item" href="{{ path('episode_index') }}">Episodes</a>
                                <a class="dropdown-item" href="{{ path('actor_index') }}">Acteurs</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </ul>
           <div class="d-flex justify-content-end text-white mr-2">
            {% if app.user %}
                <li class="nav-item nav-link active">
                    Hello {{ app.user.email }}
                </li>
                    <a class="nav-link text-white text-decoration-none" href="{{ path('wild_profile') }}">Mon compte</a>

                <a class="nav-link text-white text-decoration-none ml-4" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="nav-link text-white text-decoration-none" href="{{ path('app_register') }}"> S'inscrire</a>

                <a class="nav-link text-white text-decoration-none" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
            </div>
        </div>
    </nav>
